.header{
    margin-top: 60px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
}

.sm{
    position: absolute;
    top: 12%;
    font-size: 20px;
    color: #444;
}

.lg{
    position:absolute;
    top: 13%;
    font-size: 100px;
    color: #f8f8ff;
}

.lg:before{
    content: attr(data-char);
    position: absolute;
    height: 50%;
    overflow: hidden;
    color: #444;
}

.headerImg{
    width: 100%;
    height: 750px;
    margin-top: 80px;
    object-fit: none; 
}